<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-whatsapp-stickers" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>WhatsApp Stickers</name>
  <description>Add local sticker packs to WhatsApp.</description>
  <license>MIT</license>
  <js-module name="WhatsAppStickers" src="www/WhatsAppStickers.js">
    <clobbers target="WhatsAppStickers" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WhatsAppStickers">
        <param name="android-package" value="com.figurinhazap.stickers.WhatsAppStickersPlugin" />
      </feature>
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="com.whatsapp.sticker.READ" />

      <!-- to be able to query the whitelist status in WhatsApp
      https://developer.android.com/training/basics/intents/package-visibility#package-name -->
      <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
      </queries>
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <provider
        android:name="com.figurinhazap.stickers.WhatsAppStickerContentProvider"
        android:authorities="${applicationId}.stickercontentprovider"
        android:enabled="true"
        android:exported="true"
        android:readPermission="com.whatsapp.sticker.READ" />
    </config-file>
    <source-file src="src/android/WhatsAppStickersPlugin.java" target-dir="src/com/figurinhazap/stickers" />
    <source-file src="src/android/WhatsAppStickerContentProvider.java" target-dir="src/com/figurinhazap/stickers" />
    <resource-file src="src/android/assets/stickers/pack1/1.webp" target="assets/stickers/pack1/1.webp" />
    <resource-file src="src/android/assets/stickers/pack1/2.webp" target="assets/stickers/pack1/2.webp" />
    <resource-file src="src/android/assets/stickers/pack1/3.webp" target="assets/stickers/pack1/3.webp" />
    <resource-file src="src/android/assets/stickers/pack1/tray.png" target="assets/stickers/pack1/tray.png" />
  </platform>
</plugin>
